


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h2{
    font-size: 50px;
    color: brown;
}
/*MENU*/
#collapsibleNavbar, .container-fluid{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    justify-content: right;
    
    
    
}

.nav-link, .collapseNavbar-collapse {
    margin-left: -10px;
    margin-right: 80px;
    color: white;
    font-size: 25px;
}

.tit h1{
    margin: 50px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
    font-size: 30px;
}


.img {
    width: 150px;
    height: 75px;
}



.seccionUno h1  {
        text-align: center;
        font-size: 3em;
    }

    .seccionDos {
        display: flex;
        align-items:stretch;
        margin: 70px;
        padding: 50px;
        font-size: 30px;   
    }

.titulo {
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 50px;
        
}

/*Lugares destacados*/

.prueba{
    display: flex;
    flex-wrap: nowrap;
}
.card {
    margin:0 auto;
    width: 400px;
    padding: 20px;
    box-shadow: 0px 10px 15px;
}
.card-title{
    font-size: 30px;
}
.card-text{
    font-size: 25px;
}

/*FORMULARIO*/
.cuerpo {
    width: 30%;
    padding: 10px;
    text-align: center;
    align-items: center;
    margin-left: 37%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid 3px black;
    box-shadow: 3px 4px 6px black;
    background-image:url(./imagen/fondoform.jpg);
}

.envoltorio form{
    
    width: 50%;
    border-radius:5px;
    padding: 80px;
}
.imgLogo{
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-top: 5px;
}
.contorno{
    border-radius: 20px;
    border-color: black;
    
}
b{
    font-size: 24px;
}
.row {
    padding: 10px 15px;
    font-size: 25px;
}


.input{
    padding: 5px 5px;
    width: 100%;
    height: 35px;
    
}
#submit_button {
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: rgb(15, 15, 15);
    color: white;
} 

textarea{
    width: 30px;
    height: 30px;
}

/*footer*/
footer{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin:0 auto;
    width: 500%;
    background-color: black;
    color: white;
    height: 200px;
    
}
.containerpag {
   display: flex;
   justify-content: space-between;
   margin-top: 40px;
   margin-left: 30px;
   margin-right: 100px;
   
}
.rowPie {
    width: 100%;
    margin-left: 60%;
    margin-right: 100%;
    margin-top: 10px;

}


.boxpag{
   margin-top: -25px;
   
}

.boxpag a:hover{
   opacity: 1;
   
}
.boxpag a{
font-size: 25px;   
text-decoration: none;
color: rgb(248, 244, 244); 
}
.campo{
    margin-left: -28px;
    margin-top: -25px;
    padding: 10px 0px 10px; 
}
form .btns input {
border-radius: 10px;
border: none;
padding: 5px 15px;
color: white;

}
form .btns input[type="submit"] {
background-color: blue;
font-size: 16px;
}